.construction {
	//background-color: #0c0320;
	border: 1px solid orange;
	background: rgb(121, 59, 65);
	background: -moz-radial-gradient(circle, rgba(121, 59, 65, 1) 0%, rgba(12, 3, 32, 1) 100%);
	background: -webkit-radial-gradient(circle, rgba(121, 59, 65, 1) 0%, rgba(12, 3, 32, 1) 100%);
	background: radial-gradient(circle, rgba(121, 59, 65, 1) 0%, rgba(12, 3, 32, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#793b41",endColorstr="#0c0320",GradientType=1);
	&__row {
		width: 100%;
		height: 100%;
		padding: 20px;
		&_elements {
			& .row {
				display: flex;
				justify-content: space-around;
				row-gap: 20px;
				column-gap: 20px;
				flex-wrap: wrap;
			}
		}
	}
}