.Burger {
	position: absolute;
	width: 250px;
	top: 99px;
	left: 61px;
	bottom: 0;
	background-color: rgb(10 10 10);
	display: flex;
	flex-direction: column;
	z-index: 100;
	.menu {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		padding: 25px;
		text-transform: uppercase;
		letter-spacing: 2px;
		max-height: fit-content;
		&__item {
			border-top: 1px solid #c6c6c6;
			border-radius: 0.75rem;
			padding: 1rem;
			background: linear-gradient(to top right, rgb(38 38 38), rgb(10 10 10), rgb(64 64 64));
			cursor: pointer;
			a {
				background: transparent;
			}
			&_link {
				cursor: pointer;
			}
			&:hover {
				background: linear-gradient(to right, rgb(38 38 38), rgb(10 10 10), rgb(123,87,9));
			}
			&:active {
				background: linear-gradient(to right, rgb(38 38 38), rgb(10 10 10), rgb(155, 198, 63));
			}
		}

		.active {
			color: orange;
		}
	}
}
