@import "../../styles/index";

.Contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid orange;
	background-color: var(--backgrount-color-contacts);
	padding: 2rem 0;
	@include adaptive-padding-left(130, 20, 1200, 320);
	@include adaptive-padding-right(130, 20, 1200, 320);
	h2 {
		font-family: "Catamaran Extra Bold", sans-serif;
		@include adaptive-font(60, 25, 1200, 320);
		span {
			color: orange;
		}
	}
	p {
		@include adaptive-font(26, 12, 1200, 320);
		font-size: 2rem;
		margin-bottom: 2rem;
		text-align: center;
	}
	.content__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;

		.content__image {
			margin-bottom: 2rem;
			img {
				max-width: 100%;
			}
			p {
				display: flex;
				justify-content: center;
				font-family: "Catamaran Extra Bold", sans-serif;
				@include adaptive-font(40, 20, 1200, 320);
				color: lawngreen;
				text-shadow:
					1px 1px 2px #fff,
					0 0 1em lightblue,
					3px 3px 0.2em blue;
				& svg {
					margin-right: 10px;
				}
			}
		}
		form {
			display: flex;
			flex-direction: column;
			row-gap: 2rem;
			flex: 0 1 40rem;

			.name-email {
				display: flex;
				justify-content: space-between;
				column-gap: 1rem;
				justify-content: space-between;
				.email,
				.name {
					width: 100%;
				}
			}
			.textarea,
			.email,
			.name,
			.phone,
			.address {
				position: relative;
				input {
					width: 100%;
					border-radius: 0.5rem;
					padding: 0.5rem;
					font-size: 1.1rem;
					background-color: #fff;
					color: #000;

					&:user-invalid {
						//box-shadow: 0 0.5rem 0.5rem orangered;
						background-color: rgba(253, 226, 232, 0.9);
					}
				}
				label {
					position: absolute;
					padding-left: 10px;
					top: 13px;
					left: 0;
					color: orange;
					background-color: transparent;
					cursor: text;
				}
				input:focus + label,
				input:not(:placeholder-shown) + label {
					opacity: 1;
					transform: scale(0.9) translateY(-150%) translateX(10px);
					color: #fff;
					padding: 3px 6px;
					border-radius: 4px;
					background-color: orange;
				}
				input:focus {
					outline: 2px solid orange;
					font-size: 1.1rem;
				}
				label,
				input {
					transition: all 0.4s;
					transition-timing-function: ease;
					transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
				}
			}
			.textarea {
				position: relative;
				textarea {
					width: 100%;
					border-radius: 0.5rem;
					padding: 0.5rem;
					font-size: 1.1rem;
					background-color: #fff;
					color: #000;
				}
				label {
					position: absolute;
					padding-left: 10px;
					top: 13px;
					left: 0;
					color: orange;
					cursor: text;
				}
				textarea:focus + label,
				textarea:not(:placeholder-shown) + label {
					opacity: 1;
					transform: scale(0.9) translateY(-150%) translateX(10px);
					color: #fff;
					padding: 3px 6px;
					border-radius: 4px;
					background-color: orange;
				}
				textarea:focus {
					outline: 2px solid orange;
					outline-color: orange;
				}
				label,
				textarea {
					transition: all 0.4s;
					transition-timing-function: ease;
					transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
				}
			}
			.installation {
				display: flex;
				align-items: center;
				height: 35px;
				font-family: "Caudex Bold", sans-serif;
				font-size: 1.2rem;
				letter-spacing: 2px;
				span {
					position: relative;
					margin-right: 2rem;
					color: orange;
					&::before {
						content: "Montáž:";
						position: absolute;
						left: -1px;
						top: 2px;
						color: #fff;
						letter-spacing: 2px;
					}
				}
				label {
					display: flex;
					margin-right: 1rem;
					align-items: center;
					font-size: 1rem;
					cursor: pointer;
					transition: all 300ms ease-in;
				}
				input {
					margin-right: 0.5rem;
					appearance: none;
					width: 1.5rem;
					height: 1.5rem;
					background-color: #f2f2f2;
					border-radius: 2px;
					cursor: pointer;
					transition: all 300ms ease-in;
					&:checked {
						width: 1.9rem;
						height: 1.9rem;
						border-radius: 50%;
						background-color: orange;
					}
				}
				#yes:checked ~ label[for="yes"],
				#no:checked ~ label[for="no"] {
					font-size: 1.3rem;
					color: orange;
				}
			}
			input[type="submit"] {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 50%;
				border-radius: 0.5rem;
				box-shadow: 0 0.5rem 1rem orangered;
				font-family: "Catamaran Extra Bold", sans-serif;
				font-size: 1.2rem;
				text-transform: uppercase;
				color: orangered;
				line-height: 2;
				padding: 5px 10px;
				background-color: #fff;
				cursor: pointer;
				transition: all 400ms ease-in;
				&:hover {
					background-color: orangered;
					color: #f2f2f2;
					box-shadow: none;
				}
			}
		}
	}
}
