
.menu__item_link {
  position: relative;
  color: #c8c8c8;
  font-size: 17px;


  &::after {
    position: absolute;
    display: block;
    content: '';
    width: 22px;
    height: 2px;
    background-color: #fff;
    bottom: -8px;
    opacity: 0;
    transition: opacity 300ms ease-in-out 0s;
  }

  &:hover::after {
    opacity: 1;
  }

  &.active {
    color: orange;
    &::after {
      opacity: 1;
    }
  }
  img {
    width: 24px;
  }

}
