.Beton {
	//background-color: #0c0320;
	border: 1px solid orange;
	background: rgb(121, 59, 65);
	background: -moz-radial-gradient(circle, rgba(121, 59, 65, 1) 0%, rgba(12, 3, 32, 1) 100%);
	background: -webkit-radial-gradient(circle, rgba(121, 59, 65, 1) 0%, rgba(12, 3, 32, 1) 100%);
	background: radial-gradient(circle, rgba(121, 59, 65, 1) 0%, rgba(12, 3, 32, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#793b41",endColorstr="#0c0320",GradientType=1);
	.beton__row {
		width: 100%;
		height: 100%;
		padding: 20px;
		.beton__elements {
			&_row {
				display: flex;
				justify-content: space-around;
				row-gap: 20px;
				column-gap: 20px;
				flex-wrap: wrap;
				.item__container {
					display: flex;
					flex: 1 1 20%;
					justify-content: center;
					align-items: center;
					.item {
						display: flex;
						justify-content: center;
						align-items: center;
						row-gap: 15px;
						flex-direction: column;
						max-width: 300px;
						padding: 15px;
						border-radius: 20px;

						background: rgba(226, 165, 23, 0.19);
						box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
						backdrop-filter: blur(11.3px);
						-webkit-backdrop-filter: blur(11.3px);
						border: 1px solid rgba(226, 165, 23, 1);
						&__img {
							display: flex;
							justify-content: center;
							width: 230px;
							box-shadow: 5px 5px 20px 1px #0c0320;
							border-radius: 15px;
							overflow: hidden;

							img {
								max-width: 100%;
								border-radius: 15px;
								border: 1px solid orange;
								cursor: pointer;
								transition: all 400ms ease-in;

								&:hover {
									transform: scale(1.8);
								}
							}
						}
						&__content {
							display: flex;
							flex-direction: column;
							align-items: center;
							row-gap: 10px;
							h2 {
								text-align: center;
								width: 100%;
								font-family: "Caudex Bold", sans-serif;
								font-size: 1rem;
								line-height: 1.3;
								background-color: #0c0320;
							}
							p {
								text-align: center;
								line-height: 1.2;
								font-size: 1.2rem;
							}
						}
						&__btn {
							width: 100%;
							text-align: right;
							button {
								border-radius: 0.5rem;
								box-shadow: 0.1rem 0.3rem 1rem 0 orangered;
								font-family: "Catamaran Extra Bold", sans-serif;
								font-size: 1rem;
								text-transform: uppercase;
								color: orangered;
								line-height: 1.6;
								padding: 5px 10px;
								cursor: pointer;
								transition: all 400ms ease-in;
								&:hover {
									background-color: orangered;
									color: #f2f2f2;
									box-shadow: none;
								}
							}
						}
					}
				}
			}
		}
	}
}
