.swiper-footer {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: start;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(
		270deg,
		rgba(66, 66, 66, 0.49) 0%,
		rgba(66, 66, 66, 0.4753) 76.04%,
		rgba(66, 66, 66, 0) 100%
	);
	backdrop-filter: blur(47.2917px);

	.footer-info {
		display: flex;
		width: 100%;
		justify-content: center;
		&__row {
			width: 100%;
			display: flex;
			justify-content: space-between;
			@media (max-width: 1750px) {
				justify-content: center;
			}
		}
		&__video {
			flex: 1 1 20%;
			margin: 10px 0;
			padding: 5px;
			text-align: center;
			iframe {
				border: 1px solid orange;
			}
			& iframe {
				width: 100%;
			}
		}
	}

	.footer-cover {
		position: relative;
		height: 160px;
		width: 160px;
		overflow: hidden;
		margin: 10px 0;
		@media (max-width: 1750px) {
			display: none;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}
}
